node_modules
.next
.turbo
.vercel
.DS_Store
dist
.env
dev.db
prisma/dev.db
prisma/dev.db-journal

# PWA
/public/sw.js
/public/workbox-*.js
/public/worker-*.js
/public/sw.js.map
/public/workbox-*.js.map
/public/worker-*.js.map

